.btn {
  appearance: none;
  border: none;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  background-color: #40916c;
  padding: 12px 20px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #317e5b;
}

.btn-animals {
  background-color: #080808;
}

.btn-animals:hover {
  background-color: #0a0a0a;
}

.btn-info {
  background-color: #4cc9f0;
}

.btn-info:hover {
  background-color: #4ce1f0;
}

.btn-edit {
  background-color: #fcbf49;
}

.btn-edit:hover {
  background-color: #f3b63e;
}

.btn-delete {
  background-color: #d62828;
}

.btn-delete:hover {
  background-color: #e72828;
}
